#p1,
#p2,
#p3,
#p4,
#p5,
#p6,
#p7,
#p8,
#p9 {
    display: none;
}

body {
    background-color: rgb(146, 181, 192);
    font-family: "Audiowide", sans-serif;
}

h3 {
    font-family: "Audiowide", sans-serif;
}

p {
    font-family: "Arial", sans-serif;
    text-align: justify;
}

#texto-footer {
    text-align: right;
    margin: 10px;
}

.img-windows {
    width: 100%;
    height: 60%;
    padding: 10%;
}

a:link {
    color: rgb(72, 199, 221);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(168, 142, 192);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(148, 97, 97);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(216, 216, 137);
    background-color: transparent;
    text-decoration: underline;
}